{% include 'top.html' %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
        <div class="tile bg-gray-800 shadow rounded-lg p-5">
            <span class="text-gray-500">Ostatni atak: </span>
            <span id="ostatni-atak" class="text-blue-500 text-xl font-bold"></span>
        </div>
        <div class="tile bg-gray-800 shadow rounded-lg p-5">
            <span class="text-gray-500">Ilość wysłanych ataków: </span>
            <span id="ilosc-wyslanych" class="text-blue-500 text-xl font-bold"></span>
        </div>
        <div class="tile bg-gray-800 shadow rounded-lg p-5">
            <span class="text-gray-500">Ilość niewysłanych ataków: </span>
            <span id="ilosc-niewyslanych" class="text-blue-500 text-xl font-bold"></span>
        </div>
        <div class="tile bg-gray-800 shadow rounded-lg p-5">
            <span class="text-gray-500">Ilość ataków w kolejce: </span>
            <span id="ilosc-kolejka" class="text-blue-500 text-xl font-bold"></span>
        </div>
    </div>

<!--
    <form class="home mt-10 text-center" action="/" method="POST">
        <input id="start-button" type="submit" value="START" class="w-64 h-16 bg-blue-500 hover:bg-blue-400 text-white rounded text-2xl cursor-pointer transition-colors duration-300">
    </form>
-->

<div class="text-center text-gray-500 mt-10">
            <label class="text-gray-500 text-xl mb-2 block">Odpalanie maszyny:</label>

<div class=" mx-auto relative inline-block w-16 h-8 align-middle select-none transition duration-200 ease-in home text-center">

<input type="checkbox" name="toggle" id="toggleSwitch" class="text-center mx-auto toggle-checkbox absolute block w-8 h-8 rounded-full bg-white border-4 appearance-none cursor-pointer right-checked bg-checked border-checked" />
  <label for="toggleSwitch" class="toggle-label block overflow-hidden h-8 rounded-full bg-gray-300 cursor-pointer"></label>
</div>

    <br><br>
        Wyłączenie maszyny chwile trwa (ok 5s), więc daj mu chwilę.

</div>

<script>
    function fetchScriptStatus() {
        fetch('/get_script_status')
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            const toggleSwitch = document.getElementById("toggleSwitch");
            toggleSwitch.checked = data.status;
            toggleSwitch.disabled = data.isStopping;
        })
        .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });
    }

    document.getElementById("toggleSwitch").addEventListener("change", function(e) {
        if (this.disabled) {
            e.preventDefault();
            return;
        }
        const url = this.checked ? '/' : '/stop_script';
        fetch(url, { method: 'POST' })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();
        })
        .then(data => {
            console.log('Skrypt został ' + (this.checked ? 'uruchomiony' : 'zatrzymany'));
            if (!this.checked) {
                this.disabled = true;
            }
        })
        .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });
    });

    window.onload = fetchScriptStatus; // wywołaj funkcję przy ładowaniu strony

    setInterval(fetchScriptStatus, 5000); // wywołaj funkcję co 5 sekund
</script>


    <form class="home mt-20 text-center" action="/debug" method="POST">
        <label class="text-gray-500 text-xl mb-2 block w-96 text-center mx-auto">Gdyby coś poszło nie tak to odpalasz debug i sam próbujesz wysłać atak, sprawdzając gdzie mógł wystąpić błąd:</label>
        <input id="debug-button" type="submit" value="DEBUG" class="w-64 h-16 bg-red-500 hover:bg-red-400 text-white rounded text-2xl cursor-pointer transition-colors duration-300">
    </form>

{% include 'bottom.html' %}
