{% include 'top.html' %}




<div class="flex min-h-screen">
  <nav id="sidebar" class="sidebar bg-neutral-800 text-blue-100 space-y-6 py-7 pl-4 px-2 absolute inset-y-0 left-0 transform -translate-x-full md:translate-x-0 transition-all ease-in-out" style="top:48px;">
    <ul class="flex flex-col">
      <li class="w-full border-gray-50 rounded-2xl">
        <a id="home-link" href="#" class="menu-item text-2xl w-full hover:text-white">
          <span class="menu-icon"><i class="fa fa-home"></i></span>
          <span class="menu-text">Overview</span>
        </a>
      </li>
      <li class="w-full">
        <a id="debug-link" href="#" class="menu-item text-2xl w-full hover:text-white whitespace-nowrap">
          <i class="fa-solid fa-person-military-rifle"></i>
          <span class="menu-text">Wojska</span>
        </a>
      </li>
      <li class="w-full">
        <a id="przybywajace" href="#" class="menu-item text-2xl w-full hover:text-white whitespace-nowrap">
          <i class="fa-solid fa-meteor"></i>
          <span class="menu-text">Przybywające ataki</span>
        </a>
      </li>
      <li class="w-full">
        <a id="posortowanePrzybywajace" href="#" class="menu-item text-2xl w-full hover:text-white whitespace-nowrap">
          <i class="fa-solid fa-sort"></i>
          <span class="menu-text">Posortowane ataki</span>
        </a>
      </li>
      <li class="w-full">
        <a id="fejkGenerator" href="#" class="menu-item text-2xl w-full hover:text-white whitespace-nowrap">
          <i class="fa-solid fa-shuffle"></i>
          <span class="menu-text">Generator fejków</span>
        </a>
      </li>
    </ul>
  </nav>

  <div id="content" class="content w-full ml-16 transition-all duration-200 ease-in-out" style="margin-top:60px;">
    <!-- Tu będzie ładowana dynamiczna zawartość -->
  </div>
</div>

<style>
.sidebar {
  transition: width 0.3s;
  width: 64px;
  padding-left: 20px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.sidebar li {
  padding-top: 20px;
}

.sidebar:hover {
  width: 256px;
}

.content {
  transition: margin-left 0.3s;
}

.sidebar:hover ~ .content {
  margin-left: 256px;
}

.menu-item {
  display: flex;
  white-space: nowrap;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;  /* dostosuj szerokość ikon */
  height: 24px; /* dostosuj wysokość ikon */
}

.menu-text {
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.sidebar:hover .menu-text {
  opacity: 1;
}
</style>


<script>
$(document).ready(function(){

    function loadHomeContent() {
        $('#content').html(`
            <!-- zawartość strony głównej -->
            <h1 class="text-3xl font-semibold">Strona główna</h1>
            <p class="mt-2">Witamy na stronie głównej!</p>
        `);
    }

    function loadDebugContent() {
        let tableContent = '';

        $('#content').html(`
            <h1 class="text-2xl font-semibold mb-4">Wojsko</h1>
                                                    <form class="home mt-10 text-center mb-10" action="/secretUpdate" method="GET">
        <input id="start-button" type="submit" value="UPDATE DATA" class="w-64 h-16 bg-blue-500 hover:bg-blue-400 text-white rounded text-2xl cursor-pointer transition-colors duration-300">
    </form>
            <div class="overflow-x-auto">
                <div class="min-w-screen bg-gray-100 flex items-center justify-center font-sans overflow-hidden">

                    <div class="w-full lg:w-5/6">



                        <div class="bg-white shadow-md rounded">
                            <table class="min-w-max w-full table-auto">
                                <thead>
                                    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                        <th class="py-3 px-6 text-left">Coords</th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/spear.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/sword.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/axe.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/archer.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/spy.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/light.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/marcher.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/heavy.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/ram.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/catapult.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                        <th class="py-3 px-6 text-left"><img src="{{ url_for('static', filename='images/snob.png') }}" alt="{{ unit }}" style="width: 18px; height: 18px;"></th>
                                    </tr>
                                </thead>

<tbody class="text-gray-600 text-sm font-light">
    {% for result in results %}
    <tr class="border-b border-gray-200 hover:bg-gray-100">
      <td class="py-3 px-6 text-left whitespace-nowrap">{{ result[1] }}</td>
      {% for unit_count in result[2] %}
      <td class="py-3 px-6 text-gray-600 text-left whitespace-nowrap">{{ unit_count}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
</tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        `);
    }

        function loadPrzybywajaceContent() {
        let tableContent = '';

        $('#content').html(`
            <h1 class="text-2xl font-semibold mb-4">Przybywajace ataki</h1>
                                                    <form class="home mt-10 text-center mb-10" action="/przybywajaceUpdate" method="GET">
        <input id="start-button" type="submit" value="UPDATE DATA" class="w-64 h-16 bg-blue-500 hover:bg-blue-400 text-white rounded text-2xl cursor-pointer transition-colors duration-300">
    </form>
            <div class="overflow-x-auto">
                <div class="min-w-screen bg-gray-100 flex items-center justify-center font-sans overflow-hidden">

                    <div class="w-full lg:w-5/6">



                        <div class="bg-white shadow-md rounded">
                            <table class="min-w-max w-full table-auto">
                                <thead>
                                    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                        <th class="py-3 px-6 text-left">ID</th>
                                        <th class="py-3 px-6 text-left">Obrońca</th>
                                        <th class="py-3 px-6 text-left">Atakujący</th>
                                        <th class="py-3 px-6 text-left">Data wejścia</th>


                                    </tr>
                                </thead>

<tbody class="text-gray-600 text-sm font-light">
    {% for result in results2 %}
    <tr class="border-b border-gray-200 hover:bg-gray-100">
      <td class="py-3 px-6 text-left whitespace-nowrap">{{ result[0] }}</td>
      <td class="py-3 px-6 text-left whitespace-nowrap">{{ result[1] }}</td>
      <td class="py-3 px-6 text-left whitespace-nowrap">{{ result[2] }}</td>
      <td class="py-3 px-6 text-left whitespace-nowrap">{{ result[3] }}</td>

    </tr>
    {% endfor %}
</tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        `);
    }


        function posortowanePrzybywajace() {

        let tableContent = '';

$('#content').html(`
    <h1 class="text-2xl font-semibold mb-4 text-white">Przybywajace ataki</h1>
    <form class="home mt-10 text-center mb-10" action="/przybywajaceUpdate" method="GET">
        <input id="start-button" type="submit" value="UPDATE DATA" class="w-64 h-16 bg-blue-500 hover:bg-blue-400 text-white rounded text-2xl cursor-pointer transition-colors duration-300">
    </form>
    <div class="overflow-x-auto">
        <div class="min-w-screen flex items-center justify-center font-sans overflow-hidden">
            <div class="w-full lg:w-5/6">
                <div class="bg-gray-700 shadow-md rounded text-white">
                    <table class="min-w-max w-full table-auto ">
                        <thead >
                            <tr class="bg-gray-600 text-white uppercase text-sm leading-normal">
                                <th class="py-3 px-6 text-left">ID</th>
                                <th class="py-3 px-6 text-left">Obrońca</th>
                                <th class="py-3 px-6 text-left">Atakujący</th>
                                <th class="py-3 px-6 text-left">Data wejścia</th>
                                <th class="py-3 px-6 text-left">Czas do ataku</th>
                            </tr>
                        </thead>
                        <tbody class="text-white text-sm font-light">
    {% for obrońca, group in results2 %}
    <tr class="bg-gray-800 border-b border-gray-500 hover:bg-gray-600 defender" onclick="toggleRows(this)">
        <td class="py-3 px-6 text-left whitespace-nowrap">{{ ID }}</td>
        <td class="py-3 px-6 text-left whitespace-nowrap" colspan="4">{{ obrońca }} ({{ group|length }} ataków)</td>
    </tr>
    {% for row in group.itertuples() %}
    <tr class="border-b border-gray-500 hover:bg-gray-600 attacker hidden">
        <td class="py-3 px-6 text-left whitespace-nowrap">{{ row.ID }}</td>
        <td class="py-3 px-6 text-left whitespace-nowrap">{{ row.Obrońca }}</td>
        <td class="py-3 px-6 text-left whitespace-nowrap">{{ row.Atakujący }}</td>
        <td class="py-3 px-6 text-left whitespace-nowrap">{{ row._4 }}</td>
        <td class="py-3 px-6 text-left whitespace-nowrap">{{ row.remaining_time }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
</tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
`);
setInterval(function() {
  let rows = document.getElementsByClassName("attacker");
  for (let row of rows) {
    let attackTimeCell = row.cells[3];
    let remainingTimeCell = row.cells[4];
    let attackTime = Date.parse(attackTimeCell.textContent);
    let now = Date.now();
    if (now < attackTime) {
      let diff = attackTime - now;
      let hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      let minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
      let seconds = Math.floor((diff % (1000 * 60)) / 1000);
      remainingTimeCell.textContent = hours + ":" + minutes + ":" + seconds;
    } else {
      remainingTimeCell.textContent = "0:0:0";
    }
  }
}, 1000);

// Funkcja do przełączania widoczności wierszy
function toggleRows() {
  var nextRow = this.nextElementSibling;
  while (nextRow && !nextRow.classList.contains("defender")) {
    nextRow.classList.toggle("hidden");
    nextRow = nextRow.nextElementSibling;
  }
}


// Pobranie wszystkich elementów z klasą 'defender' i dodanie procedury obsługi zdarzeń onclick
var defenders = document.getElementsByClassName('defender');
for (var i = 0; i < defenders.length; i++) {
    defenders[i].addEventListener('click', toggleRows);
}

    }

function fejkGenerator() {
    $('#content').html(`
        <h1 class="text-3xl font-semibold mb-4">Generator fejków</h1>
        <p class="mt-2 mb-4">Tutaj możesz dodać wioskę i ustawić liczbę fejków.</p>
            <form class="home mt-20" action="/fejkgen" method="POST">

        <div class="input-section mb-4">
            <input type="number" name="liczba" id="liczba" min="0" placeholder="Liczba fejków na 1 wioske" class="input-field bg-gray-200 p-2 rounded mr-2 text-black mb-5 w-96"><br>
<input type="date" name="data" id="data" class="input-field bg-gray-200 p-2 rounded mr-2 text-black mb-5 w-96">
                <textarea id="lista" name="lista" placeholder="Lista wiosek agresora..." class="text-field w-full p-2 rounded bg-gray-200 text-black h-64"></textarea>

        </div>

                    <input type="submit" id="addVillageButton"  class="add-button bg-blue-500 hover:bg-blue-400 p-2 rounded cursor-pointer transition-colors duration-300">
  </form>

    `);
    $('#addVillageButton').on('click', function() {
        $('#villages').append('\n');
    });
}





    // Podpinamy zdarzenia do linków w menu
    $('#home-link').click(function(e){
        e.preventDefault();  // blokujemy normalne działanie linku
        loadHomeContent();
    });

    $('#debug-link').click(function(e){
        e.preventDefault();  // blokujemy normalne działanie linku
        loadDebugContent();
    });

    $('#przybywajace').click(function(e){
        e.preventDefault();  // blokujemy normalne działanie linku
        loadPrzybywajaceContent();
    });
    $('#posortowanePrzybywajace').click(function(e){
        e.preventDefault();  // blokujemy normalne działanie linku
        posortowanePrzybywajace();
    });
        $('#fejkGenerator').click(function(e){
        e.preventDefault();  // blokujemy normalne działanie linku
        fejkGenerator();
    });
    // Wczytujemy zawartość strony głównej od razu po załadowaniu strony
    loadHomeContent();
});
</script>



{% include 'bottom.html' %}
