<!DOCTYPE html>
<html lang="pl" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>patchker inc.</title>
    <link href="../static/css/output.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/bd2b98c0b7.js" crossorigin="anonymous"></script>

</head>
<body class="bg-neutral-900 text-white flex flex-col min-h-full font-sanfrancisco">
<header class="px-10 flex items-center justify-between bg-neutral-800 w-full">
    <nav class="w-full">
        <ul class="flex justify-between space-x-4 w-full">
            <div class="flex space-x-4">
                <a href="/"><h1 class=" mt-2 text-3xl text-blue-500 font-bold hover:text-blue-300 font-custom px-5 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">patchker inc.</h1></a>
                <a href="/" class="hover:text-blue-300 py-3"><li>HOME</li></a>
                <a href="/lista" class="hover:text-blue-300 py-3"><li>LIST</li></a>
                <a href="/wyslane" class="hover:text-blue-300 py-3"><li>SENT ATTACKS</li></a>
                <a href="/niewyslane" class="hover:text-blue-300 py-3"><li>NOT SENT ATTACKS</li></a>
            </div>
            <a href="/secret" class="py-3 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none" class="h-4 w-4 transition-colors text-brand-purple" width="16" height="16" stroke-width="2">
                    <path d="M12.784 1.442a.8.8 0 0 0-1.569 0l-.191.953a.8.8 0 0 1-.628.628l-.953.19a.8.8 0 0 0 0 1.57l.953.19a.8.8 0 0 1 .628.629l.19.953a.8.8 0 0 0 1.57 0l.19-.953a.8.8 0 0 1 .629-.628l.953-.19a.8.8 0 0 0 0-1.57l-.953-.19a.8.8 0 0 1-.628-.629l-.19-.953h-.002ZM5.559 4.546a.8.8 0 0 0-1.519 0l-.546 1.64a.8.8 0 0 1-.507.507l-1.64.546a.8.8 0 0 0 0 1.519l1.64.547a.8.8 0 0 1 .507.505l.546 1.641a.8.8 0 0 0 1.519 0l.546-1.64a.8.8 0 0 1 .506-.507l1.641-.546a.8.8 0 0 0 0-1.519l-1.64-.546a.8.8 0 0 1-.507-.506L5.56 4.546Zm5.6 6.4a.8.8 0 0 0-1.519 0l-.147.44a.8.8 0 0 1-.505.507l-.441.146a.8.8 0 0 0 0 1.519l.44.146a.8.8 0 0 1 .507.506l.146.441a.8.8 0 0 0 1.519 0l.147-.44a.8.8 0 0 1 .506-.507l.44-.146a.8.8 0 0 0 0-1.519l-.44-.147a.8.8 0 0 1-.507-.505l-.146-.441Z" fill="currentColor"></path>
                </svg>
                <span>SECRET (soon)</span>
            </a>
        </ul>
    </nav>
</header>
<main class="container mx-auto py-10 flex-grow font-sf pt-20">
